html {
    block-size: 100%;
    inline-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 140px;
}

body {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    place-content: center;
}

main,
.texto {
    margin: 0 auto;
    width: 920px;
    position: relative;
}

ul {
    padding: 0px;
}

/*
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
}
*/

.texto {
    font-family: 'PT Sans', sans-serif;
}

.col-100 {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cabeçalho-principal {
    background-color: #800814;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    position: relative;
    display: inline-block;
}

.logo img {
    position: relative;
    width: 52px;
    top: 5px;
}

.rede-sociais {
    float: right;
    padding-top: 16px;
    padding-bottom: 10px;
}

.rede-sociais a {
    display: inline-block;
    margin-left: 13px;
}

.menu {
    text-align-last: center;
    padding: 20px 0px;
}

.menu a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px;
    margin: 10px;
    font-size: 1em;
    transition: 0.4s;
    border-radius: 10px;
}

.menu a:hover {
    color: white;
    background-color: #800814;
    filter: drop-shadow(5px 8px 7px #000);
}
.imagem-principal img {
    width: 100%;
    position: relative;
    border-bottom: 3px solid #800814;
    border-top: 3px solid #800814;
}

.inicial {
    padding: 80px 0px;
}

.titulo-sobre-mim h2,
.titulo-contatos h2,
.titulo-lista h2 {
    text-align: center;
    font-size: 2.5em;
}

.texto-inicial p {
    text-align: center;
    font-size: 1.6em;
}

.fundo-vermelho span {
    background-color: #800814;
    border-radius: 25px 10px;
    color: white;
    padding: 0px 15px;
    filter: drop-shadow(5px 8px 7px #000);
}

.sub-titulo-lista {
    padding: 30px 45px;
    font-size: 28px;
    text-align: center;
}

.texto-lista section img {
    position: absolute;
}

.texto-lista section p {
    padding-left: 40px;
    font-size: 25px;
}

.texto-lista li {
    margin-left: 45px;
    font-size: 1.25em;
}

.sobre-mim {
    padding: 50px 0px;
}

.img-sobre-mim img {
    position: relative;
    left: 305px;
    width: 300px;
    border-radius: 100%;
    filter: drop-shadow(0 0 8px #000);
}

.texto-sobre-mim-abaixo-img {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.texto-sobre-mim p {
    font-size: 1.25em;
    text-align: center;
}

.meus-contatos,
.lista {
    padding: 50px 0px;
    background-color: rgb(239, 239, 239);
}

.texto-contatos img {
    width: 28px;
    position: absolute;
}

.texto-contatos section p {
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.25em;
    position: relative;
}

.texto-contatos section {
    padding: 15px;
}

.contatos-locais {
    position: absolute;
    bottom: 11.80%;
    left: 80%;
    font-family: 'PT Sans', sans-serif;
}

.contatos-locais section {
    padding-bottom: 20px;
    border-bottom: 2px solid #800814;
}

.contatos-locais section img {
    position: relative;
    top: 10px
}

.contatos-locais section a {
    color: rgba(0, 0, 0, 0.641);
    text-decoration: none;
}

.rodape {
    background-color: #000000c9;
    color: white;
}

.rodape section {
    text-align: center;
    padding: 15px;
}